<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>ecole_sim.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <display-name>ecole_simulation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_Servlet</display-name>
    <servlet-name>Admin_Servlet</servlet-name>
    <servlet-class>com.ecole_sim.servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Servlet</servlet-name>
    <url-pattern>/Admin_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreneauServlet</display-name>
    <servlet-name>CreneauServlet</servlet-name>
    <servlet-class>com.ecole_sim.servlets.CreneauServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreneauServlet</servlet-name>
    <url-pattern>/CreneauServlet</url-pattern>
  </servlet-mapping>
</web-app>